:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --Font-family: 'Manrope', sans-serif;
}

body {
    font-family: var(--Font-family);
    background-color: var(--Light-Grayish-Blue);
}

.main_container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.inner_container {
    display: flex;
    /* background-color: white; */
    overflow: hidden;
    border-radius: 10px;
    /* max-width: 25rem; */

    justify-content: center;
}

.textright {
    max-width: 33rem;
    width: 100%;
    padding: 2rem 2rem;
    background-color: white;
    /* height: 100%; */
    max-height: 21rem;
    position: relative;
    border-radius: 0 10px 10px 0px;
    box-shadow: 0rem 2.5rem 2.5rem -0.625rem rgba(201, 213, 225, 0.503415);
}

.maintext {
    color: var(--Very-Dark-Grayish-Blue);
    margin: unset;
    margin-bottom: 1rem;
}

.subtext {
    color: var(--Grayish-Blue);
    margin: unset;
    margin-bottom: 2rem;
    width: 89%;
    letter-spacing: 5p;
    line-height: 1.5rem;
}

.img {
    width: 100%;
    max-width: 26rem;
    height: 100%;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0rem 2.5rem 2.5rem -0.625rem rgba(201, 213, 225, 0.503415);
}

.img1 {
    border-radius: 50px;
    width: 4rem;
    height: 4rem;
}

.btn {
    border: none;
    padding: 8px 10px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50px;
    color: var(--Desaturated-Dark-Blue);
    position: relative;
    right: 3rem;
    cursor: pointer;
}

.btn:active {
    color: white
}

.btn:hover {
    background-color: var(--Desaturated-Dark-Blue);
    color: white;
}

.namebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.box {
    display: flex;
    gap: 1rem;
}

.innerbox {
    display: flex;
    flex-direction: column;
    color: var(--Grayish-Blue);
    gap: 0.2rem;
    font-weight: 600;
}

h5 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-weight: 700;
    margin: unset;
}


.social_icons {
    position: absolute;
    display: flex;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 10px;
    gap: 1rem;
    align-items: center;
    right: -41px;
    top: 56%;
    padding: 2px 59px;
    visibility: hidden;
    box-shadow: 0rem 0.625rem 0.625rem rgba(201, 213, 225, 0.503415);
}

p {
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid var(--Very-Dark-Grayish-Blue);
    margin: 2rem;
    position: absolute;
    right: 7.5%;
    top: 62%;
    visibility: hidden;

}
